body {
  background-color: #ececec54;
  padding: 0px;
  margin: 0px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-icon {
  width: 24px;
  width: 24px;
}
.title {
  color: #161e75;
}
.subbtitle {
  color: #0644a9;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  /* border: solid; */
  width: 100%;
  max-width: 1440px;
}
footer {
  margin-top: 100px;
}
.footer-section {
  height: 330px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-top: 1px solid #c5c5c5;
}
.sat-star {
  display: flex;
  flex-direction: row;
}
.sat-star svg {
  display: flex;
  width: 24px;
  height: 24px;
  color: #ff6430;
  path {
    fill: #ff6430;
  }
}
.satisfies-p > p {
  display: flex;
  text-align: center;
  align-items: center;
}
.Satisfied-arrow {
  width: 20px;
  padding-left: 20px;
  color: #c5c5c5;
}
.footer1 {
  width: 100%;
  max-width: 80%;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.foot-nav-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.foot-nav1 a,
.foot-nav2 a {
  color: #0644a9;
  text-decoration: none;
  padding: 10px 20px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Constructor h2 {
  text-align: start;
  margin-top: 0;
}
.footer2 {
  border-top: 1px solid #c5c5c5;
  width: 100%;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot2-content {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tearms-pricacy {
  display: flex;
  flex-direction: row;
}
.tearms-pricacy > p > a {
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 30px;
}
.nav {
  background-color: transparent;
  width: 100%;
  max-width: 1440px;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header {
  width: 100%;
  height: 100vh;
  background: url("pexels-pixabay-158063.jpg");
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  border-bottom-left-radius: 350% 100%;
  border-bottom-right-radius: 350% 100%;
}
.show-more {
  position: absolute;
  padding: 15px 25px;
  border-radius: 50px;
  bottom: -20px;
  background-color: #fff;
  color: #000000;
  box-shadow: #000000 0px -3px 8px 0px;
  a {
    text-decoration: none;
    color: #161e75;
  }
}
.menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.menu-logo a {
  text-align: center;
}
.menu-logo span svg {
  color: #ffffff;
}
.logo-brand {
  color: #ffffff;
  text-decoration: none;
}
.btnstyle{
    font-weight: 900;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;

}
.search {
  gap: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; /* margin-right: auto; */
  width: 100%;
  color: #ffffffb3;
  max-width: 400px;
}
.search-icon {
  width: 20px;
}
.home-link {
  width: auto;
  margin-right: auto;
  a {
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    padding: 10px 20px;
  }
}
.getintough p a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}
.hero {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column; /* background-color: red; */
}
.hero-inner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.details {
  margin-top: 100px; /* border: solid; */
  max-width: 650px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.info-item1,
.info-item2,
.info-item3 {
  color: #ffffff; /* border: solid; */
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
  flex-direction: row;
}
.info-item2 .time svg {
  width: 20px;
}
.info-item1 .send svg {
  width: 20px;
}
.info-item3 .contact svg {
  width: 20px;
}
.send-details p {
  margin: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
}
.Flowers {
  color: #ffffff;
  background-color: #ff0073;
}
.fresh-flowers-title {
  font-size: 40px;
  color: #ffffff;
}
.FLOWERSPLANTSWEDDINGS {
  color: #ffffff;
}
.insta {
  width: 100%;
  height: 100vh;
}
.row1 {
  display: flex;
  width: 100%;
  height: 100%; /* row takes full viewport height */
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.col1,
.col2,
.col3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col1 .img1,
.col2 .img2 {
  height: 30%;
}
.col1 .img2,
.col2 .img1 {
  height: 70%;
}
.col3 .img1 {
  height: 65%;
}
.col3 .img2 {
  height: 35%;
}
.row1 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.insta-slider,
.background-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}
.background-text {
  font-size: 280px;
  color: #f2f2f2;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.inner-header {
  background-color: #ff590047;
  color: #f96300;

}
.insta-inner-text {
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 16%;
}
.insta-inner-text h2 {
  font-size: 42px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.location-section {
  height: 400px;
}
.location-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}
.location-inner-text {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 22%;
}
.location-inner-text h2 {
  font-size: 32px;
}
.location-section .background-text {
  font-size: 280px;
  color: #f2f2f2;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.flowers-inner-header {
  background-color: #ff1fc23d;
  color: #ff0073;

}

.location-inner-text p {
  width: 100%;
  line-height: 2;
  max-width: 650px;
}
.map {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map img {
  width: 100%;
}
.flowers-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.flowers-section > .location-inner-text {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 22%;
}
.flowerproducts {
  display: grid;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px #dadada;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.card {
  border: solid #dadada 1px;
  background: white; /* border-radius: 10px; */ /* padding: 15px; */ /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  text-align: center;
}
.card img {
  width: 100%;
  margin-top: 50px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 16px;
  padding: 15px;
  margin: 10px 0;
}
.info {
  width: 100%;
  border-top: solid #dadada 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 14px;
  margin-top: 10px;
}
.info span {
  padding: 20px;
}
.info span svg {
  width: 20px;
  color: #b0b0b0df;
}

.info span svg path {
  fill: #b0b0b0df; 
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}


.price {
  border-left:  solid #dadada 1px;
    border-right: solid #dadada 1px;
  font-weight: 400;
}
.buy a {
  text-decoration: none;
  color: #e91e63;
  font-weight: bold;
  cursor: pointer;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px 0px;
}
.features > .inner-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  height: 300px;
}
.feature-card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.feature-card svg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: red;
  color: black;
  margin-bottom: 15px;
  display: block;
}
.feature-card h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.feature-card p {
  max-width: 185px;
  font-size: 14px;
} /* Image + Text Cards */
.service-row {
  display: flex;
  flex-direction: column; /* grid-template-columns: 1fr 1fr; */
  gap: 100px;
  align-items: center;
  margin-bottom: 50px;
}
.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.service-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.service-label {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #e91e63;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: bold;
}
.service-text {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.service-text h3 {
  font-size: 20px;
  margin-bottom: 10px; /* color: #222; */
}
.service-text p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}
.service-text span {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}
.start-price {
  width: 150px;
  color: #cbcbcb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.start-price span svg {
  width: 20px;
}
.service-row .location-section .location-inner-text h2 {
  font-size: 42px;
  line-height: 1.5;
}
.service-row .location-section .location-inner-text {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 3%;
}
.service-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  width: 50%;
}
.service-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.service-img span {
  position: absolute;
  top: 20px;        /* instead of bottom */
  left: 20px;       /* move inside */
  color: #fff;      /* visible on dark bg */
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;       /* above ::after overlay */
}

.service-img span p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.service-img span .img-arrow svg {
  width: 20px;
  height: 20px;
  stroke: #fff;     /* arrow in white */
}

.service-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgb(0 0 0 / 0%));
  z-index: 1;
  border-radius: 10px;
}
.inenertexttitle {
  padding-left: 172px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.Delivery .background-text {
  font-size: 280px;
}
.Shop .background-text {
  font-size: 280px;
}
.weddings .background-text {
  text-align: right;
  justify-content: end;
}
.Delivery .background-text {
  text-align: right;
  justify-content: start;
}
.weddings .background-text {
  font-size: 280px;
}
